<footer class="page-footer uow-background-quaternary">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">University of Work</h5>
                <p class="grey-text text-lighten-4">Conheça o único site especializado em vagas para estágio.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="/index.html">Encontre vagas</a></li>
                    <li><a class="grey-text text-lighten-3" href="/view/candidate/empresas-contratando.html">Quem contrata</a></li>
                    <!-- <li><a class="grey-text text-lighten-3" href="#!">Sobre</a></li> -->
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2018 Copyright | Todos os direitos reservados
            <a class="grey-text text-lighten-4 right" href="#!"><i class="fab fa-youtube uow-fotter-icon uow-youtube"></i></a>
            <a class="grey-text text-lighten-4 right" href="#!"><i class="fab fa-facebook-square uow-fotter-icon uow-facebook"></i></a>
        </div>
    </div>
</footer>