 <!-- Dropdown Structure -->
    <nav class="uow-background-primary">
        <div class="nav-wrapper container">
        <a href="../../index.html" class="brand-logo">
            <div class="uow-frame-logo">
                <img src="../../publico/imagem/Logo/logo_branca.png" style="width: 100%">
            </div>
        </a>
        <ul class="right hide-on-med-and-down">
            <li><a href="../../index.html">Encontre vagas</a></li>
            <li><a href="../candidate/empresas-contratando.html">Quem contrata</a></li>
            <!-- <li><a href="">Sobre</a></li> -->
            <li><a href="../candidate/cadastro.html" class="waves-effect waves-light btn uow-btn-secondary">Cadastre-se</a></li>
            <li><a href="../candidate/login.html" class="waves-effect waves-light btn uow-btn-secondary-transparent">Login</a></li>
        </ul>
        </div>
    </nav>